:root {
  --blue-primary: #30475e;
  --blue-primary-border: #233A51;
  --blue-secondary: #7e8a97;
  --blue-secondary-border: #65717E;

  --sand-primary: #e7dec8;
  --sand-secondary: #cbaf87;
  --sand-third: #c2baa7;

  --cyan-color: #00adb5;
  --grey-color: #393e46;
  --dark-color: #030303;
  --dark-secondary-color: #343a40;
  --dark-secondary-border-color: #1B2127;
  --light-color: #f6f6f6;
  --light-border-color: #DDDDDD;

  --white-color: #ffffff;
  --black-color: #000000;

  --midgrey-color: #dcdcdc;
  --midgrey2-color: #bebdbd;

  --danger-color: #dc3545;
  --danger-border-color: #C31C2C;
  --success-color: #28a745;
  --success-border-color: #0F8E2C;
  --warning-color: #be5b0c;
  --warning-border-color: #A54200;
  --info-color: #368593;
  --info-border-color: #1D6C7A;

  --default-font-family: "Nunito", "Roboto", sans-serif;
}

$grid-columns: 12;