:root {
  --blue-primary: #30475E;
  --blue-secondary: #7E8A97;

  --sand-primary: #E7DEC8;
  --sand-secondary: #CBAF87;
  --sand-third: #C2BAA7;

  --cyan-color: #00adb5;
  --grey-color: #393e46;
  --dark-color: #030303;
  --white-color: #ffffff;

  --midgrey-color: #eaeaea;
  --midgrey2-color: #bebdbd;
}

$grid-columns: 12;
$rowsGeneralNav: 6;
$default-font-family: 'Nunito', 'Roboto', sans-serif;

