header {

  & .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position : fixed;
    height: 5rem;
    background-color: var(--blue-primary);
    margin: 0 0;
    width: 100%;

    & .logo-link {
      line-height: 0;
      margin-left: 3rem;
    }

    & .logo-img {
      fill: var(--white-color);
      // width: 75px;
    }
  }

}
