.alert{
  width: 80%;
  margin: 15px auto;
  padding: 3px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
}
.close{
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  right: 15px;
  top: 20px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}
@mixin alert($name,$bgColor){
  $accentColor:darken($bgColor,50);
  .#{$name}{
    background-color:#{$bgColor};
    border-left:5px solid $accentColor;
    .close{
      border-color:$accentColor;
      color:$accentColor;
    }
  }
}
@include alert(alert-primary, lighten(var(--blue-primary), 30%));
@include alert(alert-info, lighten(var(--info-color), 30%));
@include alert(alert-success, lighten(var(--success-color), 30%));
@include alert(alert-warning, lighten(var(--warning-color), 30%));
@include alert(alert-danger, lighten(var(--danger-color), 30%));
@include alert(alert-error, lighten(var(--danger-color), 30%));
