.badge {
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin: 2px;
  padding: 2px 12px;
  font-size: .85em;

  &-red {
    color: var(--white-color);
    background-color: var(--red-color);
  }

}