button {
  cursor: pointer;
}

.btn {
  padding: 8px 14px;
  background-color: var(--blue-primary);
  border: 1px solid var(--grey-color);
  border-radius: 10px;

  &-red {
    background-color: var(--red);
    border-color: var(--red);
  }

  &-green {
    background-color: var(--green);
    border-color: var(--green);
  }

  &-blue {
    background-color: var(--blue);
    border-color: var(--green);
  }

  &-bold {
    font-weight: bold;;
  }

}

.btn-close{
  background: transparent;
  border: none;
  font-size: 30px;
  position: absolute;
  color:  #6D071A;
}

.btn-edit{
  color: #be5b0c;
}