button {
  cursor: pointer;
}
/*.btn {
  font-size: 1.3em;
  font-family: $default-font-family;
  font-weight: bold;

  cursor: pointer;

  padding: 9px 25px;
  border-radius: 5px;

  text-decoration: none;
  border: none;
  outline: none;

  box-shadow: 2px 2px 3px var(--grey-color);

  &.uppercase {
    text-transform: uppercase;
  }
  &.font-lighter {
    font-weight: lighter;
  }
  &.font-normal {
    font-weight: normal;
  }
}

.btn-primary {
  background-color: var(--blue-primary);
  color: var(--white-color);
}*/

.btn {
  padding: 8px 14px;
  background-color: var(--blue-primary);
  border: 1px solid var(--grey-color);
  border-radius: 10px;
}