.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid 'lighten(var(--dark-secondary-color), 25%)';
  border-radius: 0.25rem;

  &-body {
    padding: 1rem 1rem;
    text-align: center;
    width: 100%;
    border: 1px solid 'lighten(var(--dark-secondary-color), 25%)';
    background-color: 'darken(var(--light-color), 20%)';
    background-clip: border-box;
    border-radius: 0.25rem;
  }


  & .card-stats {
    & span {
      color: var(--black-color);
    }

    height: 100px;
    width: 80% !important;
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
  }


}