.card {
  position: relative;
  flex-basis: 45%;
  flex-direction: column;
  background-color: #a7abb4;
  box-shadow: 5px 5px 5px rgba(104, 104, 104, 0.2);
  min-height: 45%;
  max-width: 25%;
  margin: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  border-radius: .25rem;
  word-wrap: break-word;

  & .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  & .card-stats {
    & span {
      color: white;
    }
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
  }


}