.container {

  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;

  padding: 2em 5em;
  margin-right: auto;
  margin-left: auto;
}

.div-close{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top:-2rem;
  right: -3rem;
}