.container {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 1em 1em;
  margin-right: auto;
  margin-left: auto;
  &-centered {
    justify-content: center;
  }
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}

.w-60 {
  width: 60%
}

.divider {
  height: 1px;
  margin: 18px 15%;
  overflow: hidden;
  background-color: var(--dark-color-light-30);
}

.div-close{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top:-2rem;
  right: -3rem;
}

.section-review-home{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-review{
  position: relative;
  width: 1000px;
  min-width: 350px;
  min-height: 250px;
  padding-bottom: 40px;
  overflow: hidden;
}

.wrapper{
  width: 1000%;
  min-height: 100%;
  display: flex;
  transition: 1s;
}

.card-review{
  width: 980px;
  min-height: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 5px var(--primary-color-light-30);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 10px;
  background-color: var(--primary-color-light-30);
}
.card-thumb-review{
  width: 60%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.client-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-name{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #FFFFFF;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 20px;
  text-transform: capitalize;
  font-size: 14px;
}

.card-body-review{
  width: 120%;
  min-height: 100%;
  height: auto;
  margin-left: 20px;
  position: relative;
  padding-bottom: 50px;
  color: white;
}

.review-body{
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

.rating{
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star{
  font-size: 25px;
  color:yellow;
}

.indicators{
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.indicators button{
    background: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid ;
  border-color: var(--primary-color);
  cursor: pointer;
  margin-left: 5px;
  transition: .5s;
}

.indicators button.active{
  width: 40px;
  border-radius: 50px;
  background: var(--primary-color);
}

@media (max-width: 800x) {
  .container-review{
    width: 50%;
    margin: auto;
  }
  .card{
    flex-direction: column;
  }
  .card-thumb{
    width: 100%;
    border-radius: 10px;
  }
  .card-body{
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
}