header {

  & .nav-top {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position:fixed;
    align-items: center;
    height: 5rem;
    background-color: var(--primary-color);
    margin: 0 0;
    width: 100%;

    & .logo-link {
      line-height: 0;
      margin-left: 3rem;
    }

    & .logo-img {
      fill: var(--white-color);
      // width: 75px;
    }

    & .navigation-pages{
      position: absolute;
      bottom: -30px;
      right: 10px;

      & ul {
          display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;

        & li {
            margin-left: 0.5rem;
            cursor: pointer;
          & a {
            color: var(--primary-color);
            text-decoration: none;
          }
          & a:hover {
            color: var(--white-color);
            text-decoration: none;
          }
        }
      }
    }
  }

}
