* {
  box-sizing: border-box;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  & a {
    color: var(--white-color);
    text-decoration: none;
  }

  & footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 15.6rem;
    background-color: var(--primary-color);

    & a {
      font-size: 15px;
      color: var(--white-color);
      text-decoration: none;
      line-height: 50px;
    }
  }

  & .content {
    margin: 5rem 3.4rem 2.5rem 18rem;
    width: calc(100% - 15.6rem);
  }

  & .content-menu {
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;

    & .menu {
      background-color: var(--quartenary-color);
      flex-basis: 45%;
      padding: 1rem 2rem;
      border-radius: 2%;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 1rem;
      min-height: 45%;

      & .title-menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      & .separation-menu {
        color: var(--white-color);
        width: 25%;
        margin: 0;
        padding: 0;
      }

      & .list-plat {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        & .plat {
          flex-basis: 50%;

          & ul {
            border-left: solid 2px var(--primary-color);
            list-style: none;
            padding-left: 1rem;
          }
        }
      }

      & .ajout-plat {
        border-radius: 0.6rem;
        width: 50%;
        padding: 0.5rem 0.7rem;
        color: var(--white-color);
        background-color: var(--primary-color);
        cursor: pointer;
      }
    }
    & #ajout-menu {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-rotate--45 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
