main nav {
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 180px;
  width: 15.6rem;
  height: 100%;
  background: var(--secondary-color);
  overflow-y: scroll;

  & a {

    margin-top: 5px;
    width: 80%;
    font-size: 15px;
    color: var(--white-color);
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    border-radius: 15px;

    & i {
      margin-left: 20px;
    }

    & span {
      padding-left: 15px;
    }

    &.active {
      background-color: var(--primary-color);
      font-weight: bold;
    }

    &:hover {
      background-color: var(--primary-color);
      font-weight: bold;
      transition: background-color 1s;
    }

  }

  & .separation_nav {
    color: var(--white-color);;
    width: 100px;
  }

}
