.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & a {
    color: var(--black-color);
    text-decoration: none;
  }
  & a:hover {
    color: var(--blue-primary);
  }
}
.contact-section{
  display: flex;
  padding: 1rem;
  background-color: var(--light-color);
  justify-content: space-around;
}